img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

body {
	 background-image: url( https://media.istockphoto.com/id/1355227203/photo/abstract-japanese-paper-background-in-pink.jpg?b=1&s=170667a&w=0&k=20&c=7l3ewPnVLyE49Vsds4zkMuWNdxHLDLIklEdXVThVXMQ= );
	font-family: Arial;
	font-size: 24px;
}

.red {
	color: red;
}

.bigfont {
	font-size: 36px;
}

.italic {
	font-family: italic;
	font-size: 22px;
	color: green;
}

#spstyle {
	width:40%;
	border: 2px solid red;
	background-color: yellow;
}


