h1 { color: #111; font-family: Geneva;font-size: 80px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h2 { color: #111; font-family: Geneva; 
font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

body {
	background-image: url(https://cdn.pixabay.com/photo/2014/02/16/06/46/abstract-267046_1280.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.animated_rainbow_1 {
    font-size: 80px;
    font-family: Arial Black, Gadget, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}



img {

  padding: 5px;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.center {
  padding: 70px 0;
  text-align: center;
}



.button {
	 
  background-color: blue; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 15%;

}

.button:hover {	
  background-color: #40E0D0;
  color: black;
}
