img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 60px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

{
 background-image: url("https://cdn.pixabay.com/photo/2018/03/19/02/57/technology-3238905__340.jpg");
}
body {
	<p style="background-image: "{
 background-image: url("paper.gif");
 background-color: #cccccc;
}";>
	font-family: Arial;
	font-size: 24px;
}

.red {
	color: red;
}

.bigfont {
	font-size: 36px;
}

.italic {
	font-family: italic;
	font-size: 22px;
	color: green;
}

#spstyle {
	width:40%;
	border: 2px solid red;
	background-color: yellow;
}


